<template>
  <table>
    <thead>
      <tr>
        <th
          v-for="(key, i) in columns"
          :key="'th' + i"
          :class="{ active: sortKey == key }"
          @click="sortBy(key)">
          {{ key | capitalize }}
          <span
            :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"
            class="arrow" />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="(entry, ii) in filteredData"
        :key="'tr' + ii">
        <td
          v-for="(key, iii) in columns"
          :key="'td' + iii">
          {{ entry[key] }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  filters: {
    capitalize(str) {
      return str.charAt(0).toUpperCase() + str.slice(1);
    }
  },
  props: {
    data: {
      type: Array,
      required: true
    },
    columns: {
      type: Array,
      required: true
    },
    filterKey: {
      type: String,
      default: ""
    }
  },
  data() {
    const sortOrders = {};

    this.columns.forEach(key => {
      sortOrders[key] = 1;
    });

    return {
      sortKey: "",
      sortOrders
    };
  },
  computed: {
    filteredData() {
      const sortKey = this.sortKey;
      const filterKey = this.filterKey && this.filterKey.toLowerCase();
      const order = this.sortOrders[sortKey] || 1;

      let data = this.data;

      if (filterKey) {
        data = data.filter(row =>
          Object.keys(row).some(
            key =>
              String(row[key])
                .toLowerCase()
                .indexOf(filterKey) > -1
          )
        );
      }

      if (sortKey) {
        data = data.slice().sort((a, b) => {
          a = a[sortKey];
          b = b[sortKey];
          return (a === b ? 0 : a > b ? 1 : -1) * order;
        });
      }

      return data;
    }
  },
  methods: {
    sortBy(key) {
      this.sortKey = key;
      this.sortOrders[key] = this.sortOrders[key] * -1;
    }
  }
};
</script>

<style scoped>
table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #42b983;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  user-select: none;
  font-weight: 300;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
</style>
