<template>
  <div id="app">
    <form>
      Buscar: <input v-model="searchQuery">
    </form>
    <exemplo
      :data="gridData"
      :columns="gridColumns"
      :filter-key="searchQuery" />
  </div>
</template>

<script>
import * as types from "@/store/types";
import { mapGetters } from "vuex";
import Exemplo from "@/components/Exemplo";

export default {
  components: {
    Exemplo
  },
  data() {
    return {
      searchQuery: "",
      gridColumns: ["name", "power"],
      gridData: [
        { name: "Chuck Norris", power: Infinity },
        { name: "Bruce Lee", power: 9000 },
        { name: "Jackie Chan", power: 7000 },
        { name: "Jet Li", power: 8000 }
      ]
    };
  },
  computed: mapGetters({
    plans: types.EXAMPLE_PLANS,
    prices: types.EXAMPLE_PRICES,
    details: types.EXAMPLE_DETAILS
  }),
  async created() {
    await this.$store.dispatch(types.EXAMPLE_PLANS);
    await this.$store.dispatch(types.EXAMPLE_PRICES);
    await this.$store.dispatch(types.EXAMPLE_DETAILS);
    console.log(this.plans, this.prices, this.details);
  }
};
</script>
<style scoped>
#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 60px;
  font-family: "Helvetica";
}

#app form {
  flex: 0 100%;
  text-align: center;
  margin-bottom: 30px;
}
</style>
